@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
}
/*navbar*/
nav {
  display: flex;
  background-color: rgb(241 245 249);
  justify-content: space-around;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  transition: 0.5s;
  /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
  /* atur padding dengan flex */
  height: 45px;
  align-items: center;
  color: rgb(31 41 55);
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
}

nav .logo {
  font-family: 'Kode Mono', monospace;
  letter-spacing: 3px; /*space antar char*/
}

nav ul li a {
  text-decoration: none;
  color: rgb(31 41 55);
  font-size: 0.9rem;
}

nav ul li:hover,
nav ul .active {
  text-decoration: underline;
  text-decoration-color: rgba(100, 116, 139, 0.5);
  text-decoration-thickness: 4px;
  text-underline-offset: 2px;
}

a:hover {
  color: teal;
}

.animate-img {
  transition: transform 0.3s;
  cursor: pointer;
}

.animate-img:hover {
  transform: scale(1.1);
}

.about {
  max-width: 800px;
  margin: 5% auto;
  width: 60%;
}

.is-avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  left: 300px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-data {
  display: inline-block;
}

.isi-1 {
  height: 20px;
  position: relative;
}

.isi-2 {
  height: 50px;
  position: relative;
  top: 6px;
  left: 50px;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 17px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  color: white;
  position: absolute;
  top: -5px;
  left: -3px;
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: dimgray;
  border-radius: 3px;
  transition: all 0.7s;
}

/*x on hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: left center;
}

.menu-toggle span:nth-child(4) {
  transform-origin: left center;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
  background-color: snow;
  z-index: 10;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
  background-color: snow;
  z-index: 10;
}
/* invis span ke 2 / child ke 3 */
.menu-toggle input:checked ~ span:nth-child(3) {
  width: 0%;
  opacity: 0;
  transition: 0.1s;
}

.image {
  width: 100%;
  height: auto;
  max-width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;

  border: 2px solid blue;
  padding: 8px;
  border-radius: 5px;
  margin: 0 auto;
}

#image {
  margin: auto;
  max-width: 100%;
  display: block;
}

.link-info {
  padding: 10px 0;
}

.link-info a {
  text-decoration: none;
  margin-right: 1em;
}

.link-info a {
  color: rgb(31 41 55);
}

#videos {
  margin: auto;
  text-align: center;
}

.video-list {
  margin: 10px auto;
}

.moto-hidup {
  text-align: center;
  padding: 40px 0;
}

/* ! container card */
.container-card {
  max-width: 800px;
  margin: 3.2em auto;
  /* margin: 50px auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 0.7em;
  /* margin: 10px; */
}

.card .header {
  height: 150px;
  width: 100%;
  background-color: #666;
}

.card .content p {
  text-align: center;
  font-weight: 500;
  padding: 1.2em;
  /* padding: 20px; */
}

.container-skills {
  max-width: 800px;
  margin: 3.2em auto;
  /* margin: 50px auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 20%;
  margin: 10px;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
}

iframe {
  width: 700px;
  height: 480px;
  display: block;
  text-align: center;
  margin: 20px auto;
}

.box {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
/* supaya ada jarak antar box  */
.flexone {
  flex-grow: 1;
}
.flextwo {
  flex-grow: 2;
}
/* * Header */
.highlighted {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
}

.hero {
  grid-area: hero;
  min-height: 350px;
  background-image: url(../img/setup0.webp);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero p {
  font-weight: 200;
}

.hero h2,
.hero p {
  display: none;
}

.features {
  background-color: #000;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  cursor: pointer;
  text-align: center;
  line-height: 2.6rem;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(../img/keyboard1.webp);
  background-size: cover;
  background-position: 0 -90px;
}

.feature-2 {
  color: black;
  grid-area: feature-2;
  background-image: url(../img/pic1.webp);
  background-size: cover;
  background-position: center;
}

.features .info {
  font-size: 3em;
  font-weight: 200;
}

.gallery-wrapper {
  margin: 50px 50px 20px;
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.gallery h2 {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  background-color: rgb(241 245 249);
}
footer p {
  text-align: center;
}
h2 {
  text-align: center;
  color: brown;
  text-justify: inter-word;
  word-wrap: break-word;
}
h5 {
  text-align: center;
  color: red;
  word-wrap: break-word;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 1024px) {
  .hero h2,
  .hero p {
    display: block;
    color: white;
    background-color: #000;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: center; */
  }

  iframe {
    width: 440px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  nav ul li:hover,
  nav ul .active {
    text-decoration: none;
  }

  iframe {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  main {
    flex-direction: column-reverse;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    /* transform: translateX(100%);  */
    transition: all 0.72s;
    opacity: 0;
    z-index: 2;
  }
  nav ul.menushow {
    opacity: 0.8;
    /* transform: translateX(0); */
  }
  nav>ul>li>a {
    color: snow;
    text-decoration: none;
  }
  .is-avatar {
    left: 0;
  }
  .container-card {
    display: flex;
    flex-direction: column;
  }
  .card .besar {
    transform: scale(1.5);
  }
  .card {
    flex: 1;
  }

  .hero h2 {
    margin-top: 230px;
  }
  .highlighted {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }
  iframe {
    width: 280px;
    height: 280px;
  }
}
